.MainContainer {
  border-radius: 8px;
  background-color: #ffeeed;
  border: 3px solid #ffb8b8;
  padding: 20px;
}

.RightIcon {
  fill: rgb(242, 81, 81);
}

.IconsBox {
  width: 8%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(7px, 5px);
}

.TextBox {
  width: 400px;
  transform: translate(0px, 10px);
}

.TextBox .Polaris-Box {
  margin-top: 10px;
}

.TextBox .Polaris-Box:nth-child(2) span {
  font-weight: 500;
  font-size: 13px;
}

.TextBox .Polaris-Box:first-of-type span {
  font-weight: 600;
  font-size: 17px;
  color: black;
  font-style: bold;
}

.TextBox .Polaris-Button {
  background-color: green;
  background-color: rgba(41, 132, 90, 1);
  width: 30%;
  padding: 14px 10px;
  color: whitesmoke;
  margin: 15px 0px;
  box-shadow: none;
}

.RightBox {
  transform: translateX(-40px);
}

.RightBox {
  transform: translateX(-40px);
}

.secondBox {
  margin-top: 50px;
}

.secondBox .Polaris-ShadowBevel .Polaris-Box:first-child {
  padding-bottom: 0px !important;
}

.FistInner .Polaris-Button {
  width: 5%;
  height: 40px;
  margin: auto 10px;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
}

.FistInner .Polaris-Button svg {
  width: 80%;
  position: absolute;
  left: 5px;
  top: 0;
  opacity: 0.8;
}

.FistInner .ProgessBox .Polaris-Button:last-child {
  position: absolute;
  left: 60%;
  top: 17px;
}

.FistInner p {
  margin-top: 5px;
  font-size: 18px;
}

.TextContainer {
  text-align: start;
  padding-left: 25px;
  margin-top: 10px;
}

.TextContainer span {
  opacity: 0.8;
  font-size: 13px;
}

.ProgessBox {
  margin: 20px 20px;
  position: relative;
}

.ProgessBox .Polaris-ProgressBar {
  width: 70%;
}

.Badge {
  position: absolute;
  top: 120px;
  left: 60%;
  width: 8%;
}

.Polaris-Box .Bedge .Polaris-Button {
  width: 100%;
  height: 100%;
  margin: auto;
}

.Polaris-Box .Bedge .Polaris-Button span {
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.Polaris-ProgressBar {
  width: 80%;
  margin-left: 30px;
}

.ProgessBox .Polaris-InlineStack p {
  font-size: 13px;
  opacity: 0.7;
  font-weight: 700;
}

.ThirdBox {
  margin-top: 20px;
}

.ThirdF .Polaris-InlineStack {
  width: 100%;
  display: flex;
}

.ThirdF .Polaris-InlineStack .Polaris-ShadowBevel {
  width: 49%;
  margin: auto;
  height: 300px;
}

.ThirdF .Polaris-InlineStack .Polaris-ShadowBevel .Polaris-Box .Polaris-InlineGrid {
  height: 200px;
  display: flex;
}

.ThirdF .Polaris-InlineStack .Polaris-ShadowBevel .Polaris-Box .Polaris-InlineGrid img {
  width: 100%;
}

.ThirdF .Polaris-InlineStack .Polaris-ShadowBevel .Polaris-Box img {
  width: 100%;
}

.FourthBox {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.FourthBox .ImgBox {
  width: 30%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.FourthBox .Polaris-ShadowBevel .Polaris-InlineStack .Polaris-Box:nth-child(4) {
  height: 50px;
}

.FourthBox .Polaris-ShadowBevel .Polaris-InlineStack .Polaris-Box:nth-child(4) .Polaris-Box {
  height: 50px;
}

.FourthBox .ImgBox img {
  width: 100%;
  height: 100%;
}

.FourthBox .Polaris-ShadowBevel .Polaris-InlineStack .Polaris-Box:nth-child(2) {
  width: 70%;
}

.FourthBox .Polaris-ShadowBevel {
  width: 100%;
}

.fisrtTextBottm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HideContent {
  margin: auto;
}

.HideContent .Polaris-Icon {
  margin: 0px 20px;
  width: 50px;
  height: 30px;
}

.HideContent .Polaris-InlineStack {
  margin: 10px 0px;
  cursor: pointer;
}

.FourthBox .Polaris-ShadowBevel>.Polaris-Box {
  padding: 0px 0px 0px 0px;
}

.FourthBox .Polaris-InlineGrid {
  margin: 10px 30px;
}

.vr {
  height: 4px;
  background-color: green;
  width: 28%;
}

/* Media */

@media only screen and (max-width: 767px) {
  .MainContainer {
    width: 90%;
    padding: 5px;
    margin: auto;
  }

  .IconsBox {
    border: 1px solid red;
    width: 10%;
    transform: unset;
  }

  .TextBox {
    border: 1px solid red;
    width: 90%;
    transform: translateX(5px);
  }

  .TextBox .Polaris-Box {
    margin-top: 5px;
  }

  .TextBox .Polaris-Box:first-of-type span {
    font-size: 13px;
    font-weight: 400;
  }

  .TextBox .Polaris-Box:nth-child(2) span {
    font-size: 10px;
  }

  .TextBox .Polaris-Button {
    width: 50%;
    padding: 0px 0px;
    color: whitesmoke;
    margin: 15px 0px;
    box-shadow: none;
  }

  .RightBox {
    display: none;
  }
}


/*  */






.AnaliticsButton_Wrap .Polaris-Button:first-of-type {
  background-color: var(--p-color-bg-fill-success);
  box-shadow: none;
}

.AnaliticsButton_Wrap .Polaris-Button {
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.LastSyncWrap {
  position: absolute;
  top: 50px;
}


/*  Speed Store*/


.Analytics_Main_Wrap {
  padding: 10px;
}

.Analytics_Main_Wrap .Analytics_Charts_Wrap {
  margin-top: 50px;
}

.Analytics_Charts_Wrap .StoreSpeed_Wrap .Polaris-ShadowBevel .Polaris-Box:first-of-type {
  padding: 15px 15px;
}

.StoreSpeedScore_Wrap {
  width: 40%;
  margin: 10px 0px;
}

.StoreSpeedScore_Wrap .Polaris-Icon {
  height: 25px;
  width: 25px;
}

.StoreSpeedScore_Wrap.Polaris-Icon .Polaris-Icon__Svg {
  width: 100%;
  height: 100%;
}

.StoreSpeedScore_Wrap .Polaris-Icon--toneBase svg :nth-child(1) {
  color: green;
}

.StoreSpeedScore_Wrap p {
  color: green;
}

.StoreSpeed_Bars_Wrap {
  margin: auto;
}

.StoreSpeedBars {
  width: 20px;
  margin: 0px 10px;
  height: 100px;
  position: relative;
  background-color: #e6e6e6;
}

.Bars_First_Fill {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Anallytics_Sesstion_Wrap {
  margin-top: 50px;
}

.Sesstion_Wrap .Polaris-InlineStack {
  width: 100%;
  height: 100%;
}

.Sesstion_Wrap .Polaris-InlineStack .Polaris-ShadowBevel {
  width: 100%;
}

.ValueIcon {
  height: 80px;
  width: 100px;
}

.Sesstion_Title_Wrap:nth-child(2) .Polaris-InlineStack .Polaris-Box .Polaris-Icon {
  width: 30px;
  height: 40px;
}

.Polaris-Icon--toneBase svg {
  fill: rgb(9, 80, 9);
}

.Sales_View_Wrap {
  margin-top: 50px;
}


.SalesView_Wrap .Sale_Count_Wrap {
  margin: 15px 0px;
  width: 45%;
}


.Sale_Count_Wrap .Polaris-InlineStack .Polaris-Box .Polaris-Icon {
  color: green;
  width: 25px;
  height: 25px;
}

.Sale_Count_Wrap .Polaris-InlineStack .Polaris-Box .Polaris-Icon:first-of-type {
  height: 30px;
  width: 30px;
}

.Sale_Count_Wrap .Polaris-InlineStack .Polaris-Box:nth-child(2) .Polaris-Icon:first-of-type {
  color: #e1b878;
}

.SiteSpeed_Wrap {
  display: flex;
  margin-top: 50px;
}
.SiteSpeed_Wrap .Sales_View_Wrap:first-of-type .Sale_Count_Wrap {
  width: 90%;
  margin: 15px 0px;
}
.SiteSpeed_Wrap .Sales_View_Wrap:last-of-type .Sale_Count_Wrap{
  width: 90%;
  margin: 15px 0px;
}

.SiteSpeed_Wrap .Sales_View_Wrap:first-of-type {
  width: 55%;
  margin: auto 30px;
}

.SiteSpeed_Wrap .Sales_View_Wrap:last-of-type {
  margin: 0px !important  ;
}
.SiteSpeed_Wrap .Sales_View_Wrap:last-of-type .Polaris-ShadowBevel{
 height: 100%;
}

.Sales_Wrape {
  margin-top: 50px;
}

.SalesGrowthCards_Wrap {
  width: 20%;
}

.TopOrders_Wrap {
  width: 70%;
}

.SalesGrid_Wrap {
  width: 45%;
  margin: auto 12px;
}

.Products_Wrap {
  height: 70px;
  margin: 10px auto;
}

.UnitSold_Wrap {
  width: 24%;

}

.unitImg_Wrap {
  width: 25%;
  height: 40px;
  object-fit: cover;
}

.unitImg_Wrap img {
  width: 100%;
  height: 100%;
}

.unitDescription_Wrap {
  width: 40%;
}

.Products_Wrap .Polaris-InlineStack {
  height: 100%;
}


.app_analysis_wrap .card_wrap {
  height: 53px;
}
.app_analysis_wrap .card_wrap h3 {
  color: var(--p-color-bg-fill-success);
}
.app_analysis_wrap .card_wrap .Polaris-Icon{
  color: var(--p-color-bg-fill-success);
  width: 15%;
  height: auto;
  margin: 0px !important;
}
.app_analysis_wrap .table_wrapper {
  margin-top: 50px;
}

.app_analysis_wrap .ToggleWrap {
  display: flex;
  align-items: center;
  justify-content: end;
}
.app_analysis_wrap label {
  width: 40px;
  height: 20px;
  background: var(--p-color-bg-fill-success);
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 1000px;
  display: block;
}

.app_analysis_wrap sup {
  font-size: 16px;
}

.app_analysis_wrap #toggle {
  display: none;
}

.app_analysis_wrap .toggle-switch {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: all 0.5s;
  background: var(--p-color-bg-surface);
}

.app_analysis_wrap input:checked ~ .toggle-switch {
  transform: translateX(calc(34px - 14px));
}
.app_analysis_wrap .filter_wrap{
  margin-top: 20px;
}
.app_analysis_wrap .rotate{
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}
.app_analysis_wrap .show{
  filter: blur(8px);
 
}
.app_analysis_wrap .LoaderText{
  position: absolute;
  opacity: 0.9;
  text-align: center;
  left: 16%;
  top: 30%;
}
.app_analysis_wrap .table_wrapper .LoaderText{
  left: 40%;
  top: 40%;
}
.app_analysis_wrap .Loader_wrap{
  animation: rotet 2s infinite linear;
}